.add-and-delet {
  font-size: 14px;
  font-family: Inter;
  font-weight: 700;
  text-transform: none;
}

.add {
  color: var(--green);
}

.delet {
  color: var(--pink);
  display: flex;
  justify-content: end;
}

.add-delet {
  display: flex;
  justify-content: space-between;
}
