.button-intro {
  margin-bottom: 95px;
}

.category-button {
  margin: 0px;
}

button {
  margin: 5px;
}

.button-time {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.button-time-present {
  width: 266.879px;
  height: 70.891px;
  padding: 5px 36px;
  gap: 10px;
  flex-shrink: 0;
}

button,
.add-verb-write {
  border-radius: 50px;
  border-top: 2px solid var(--black);
  border-right: 8px solid var(--black);
  border-bottom: 8px solid var(--black);
  border-left: 2px solid var(--black);
  background: var(--white);
  text-transform: uppercase;
  font-family: "ibm-plex-mono", sans-serif;
  padding: 5px 16px;
  font-size: 20px;
}

.button-start-game {
  font-size: 35px;
}

.button-square {
  border-top: 2px solid var(--black);
  border-right: 8px solid var(--black);
  border-bottom: 8px solid var(--black);
  border-left: 2px solid var(--black);
  background: var(--white);
  text-transform: uppercase;
  font-family: "ibm-plex-mono", sans-serif;
  font-size: 20px;
}

.button-start-game {
  border-radius: 127.5px;
  border-top: 5px solid var(--purple, #4f10e8);
  border-right: 14px solid var(--purple, #4f10e8);
  border-bottom: 14px solid var(--purple, #4f10e8);
  border-left: 5px solid var(--purple, #4f10e8);
  background: var(--white, #fff);
  color: var(--purple);
}

.verb-colomn-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.number-questions-content,
.type-options-content {
  display: flex;
}

.code-text,
input,
.button-square {
  border-radius: 0;
  border-top: 2px solid var(--black);
  border-right: 8px solid var(--black);
  border-bottom: 8px solid var(--black);
  border-left: 2px solid var(--black);
  background: var(--white);
  text-transform: uppercase;
  font-family: "ibm-plex-mono", sans-serif;
  padding: 5px 16px;
  font-size: 20px;
  text-align: center;
}

.times-content,
.line-download {
  display: flex;
  justify-content: space-around;
}

.charge-game {
  display: flex;
  padding-left: 73px;
}

.button-charge-game {
  border-right: 8px solid var(--black);
  border-radius: 50px 0 0 50px;
}

.option-impression {
  margin-bottom: 70px;
  margin-top: 30px;
}

.line-option {
  margin: 30px 10px 0 10px;
}

.verb-button {
  padding: 15px 15px;
}

.button-verb-container {
  margin: 10px;
}

.first-line-verb,
.second-line-verb {
  display: flex;
}
