.card {
  border-radius: 50px;
  border-top: 2px solid var(--black);
  border-right: 8px solid var(--black);
  border-bottom: 8px solid var(--black);
  border-left: 2px solid var(--black);
  background: var(--white);
  text-transform: uppercase;
  font-family: "ibm-plex-mono", sans-serif;
  font-size: 20px;
  text-align: center;
}
