/* ====================================
// css variables
// ==================================== */

:root {
  --black: #000000;
  --white: #ffffff;
  --purple: #4f10e8;
  --pink: #e2345a;
  --green: #1b7a68;
  --orange: #f7774b;
  --yellow: #ffc552;
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 21px;
  text-transform: uppercase;
  font-family: "ibm-plex-mono", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

nav {
  padding: 0;
}

span {
  color: var(--purple);
}

a,
footer {
  text-decoration: none;
}
