.button-start-game {
  width: 434px;
  height: 119px;
  flex-shrink: 0;
  margin-top: 29px;
  margin-bottom: 34px;
}

.button-square {
  padding: 2px 10px;
}

.card {
  padding: 45px 16px;
}

footer {
  text-align: left;
  padding-top: 65px;
  padding-bottom: 67px;
}
