@import "bootstrap/scss/bootstrap-grid";
@import "base";
@import "layout";
@import "modules/example";

.add-and-delet {
    font-size: 14px;
    font-family: Inter;
    font-weight: 700;
    text-transform: none;
}

.add {
    color: var(--green)
}

.delet {
    color: var(--pink)
}

footer {
    text-align: left;
    padding-top: 65px;
    padding-bottom: 67px;
}

a,
footer {
    text-decoration: none;
}

.contact-container {
    color: var(--purple);
    text-transform: none;
    padding-top: 64px;
}